@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}




section {
    max-width: 1600px;
    margin: 30px auto;
    
}

header {
    margin-bottom: 40px;
}

header h2 {
    font-family: "Roboto", serif;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}

header p {
    font-family: "Roboto", serif;
    font-size: 24px;
    font-weight: normal;
}

.cards {
    display: grid;
    grid-template-columns: 376px 512px 240px 376px;
    grid-template-rows: 335px 376px;
    gap: 25px;
}

.cards__Vietnam {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-column: 1;
    grid-row: 1;
    background: url("./img/Vietnam.png");
    width: 376px;
    height: 335px;
    padding: 40px;
}

.cards__Old-Rain {
    grid-column: 1;
    grid-row: 2;
    background: url("./img/Old\ Rain.png");
    width: 376px;
    height: 335px;
}

.cards__Greece {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 40px;
    grid-column: 2;
    grid-row: 1 / span 2;
    background: url("./img/Greece.png");
    width: 512px;
    height: 702px;
}

.cards__London {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 40px;
    grid-column: 3 / span 2;
    grid-row: 1;
    background: url("./img/London.png");
    width: 648px;
    height: 335px;
}

.cards__Amsterdam {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 40px;
    grid-column: 3;
    grid-row: 2;
    background: url("./img/Amsterdam.png");
    width: 240px;
    height: 335px;
}

.cards__Paris {
    grid-column: 4;
    grid-row: 2;
    background: url("./img/Paris.png");
    width: 376px;
    height: 335px;
}

.headline {
    font-family: "Roboto", serif;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.description {
    font-family: "Roboto", serif;
    color: white;
    font-size: 14px;
    font-weight: 400;
}

@media (max-width: 768px) {

    section {
        padding-top: 20px;
        padding-left: 15px;
        padding-right: 10px;
    }

    .cards {
        grid-template-columns: 295px 210px 1fr;
        grid-template-rows: 254px 254px 413.03px 340px;
    }

    .cards__Greece {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
        background-image: url("./img/Greece_Tablet.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
        width: 512px;
        height: 540px;
    }

    .cards__Paris {
        grid-column: 3;
        grid-row: 1;
        background-image: url("./img/Paris-Tablet.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
        width: 377px;
        height: 254px;
    }

    .cards__Vietnam {
        grid-column: 3;
        grid-row: 2;
        background-image: url("./img/Vietnam-Tablet.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
        width: 377px;
        height: 254px;
    }

    .cards__London {
        grid-column: 1 / span 3;
        grid-row: 3;
        background-image: url("./img/London-Tablet.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
        width: 921px;
        height: 413.03px;
    }

    .cards__Amsterdam {
        grid-column: 1;
        grid-row: 4;
        background-image: url("./img/Amsterdam-Tablet.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
        width: 295px;
        height: 340px;
    }

    .cards__Old-Rain {
        grid-column: 2 /span 2;
        grid-row: 4;
        background-image: url("./img/Old-Rain-Tablet.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
        width: 594px;
        height: 340px;
    }
}

@media (max-width: 425px) {
    .cards {
        grid-template-columns: 425px;
        grid-template-rows: 254px 240px 240px 240px 240px;
    }

    .cards__Greece {
        grid-column: 1;
        grid-row: 1;
        background-image: url("./img/London-Mobile.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
        width: 425px;
        height: 254px;
    }

    .cards__London {
        grid-column: 1;
        grid-row: 2;
        background-image: url("./img/London-Mobile.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
        width: 425px;
        height: 240px;
    }

    .cards__Paris {
        grid-column: 1;
        grid-row: 3;
        background-image: url("./img/Paris-Mobile.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
        width: 425px;
        height: 240px;
    }

    .cards__Vietnam {
        grid-column: 1;
        grid-row: 4;
        background-image: url("./img/Vietnam-Mobile.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
        width: 425px;
        height: 240px;
    }

    .cards__Old-Rain {
        grid-column: 1;
        grid-row: 5;
        background-image: url("./img/Old-Rain-Mobile.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
        width: 425px;
        height: 240px;
    }

    .cards__Amsterdam {
        grid-column: 1;
        grid-row: 5;
        background-image: url("./img/Amsterdam-Mobile.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
        width: 425px;
        height: 240px;
    }
}