* {
    box-sizing: border-box;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    position: relative;
    font-size: 36px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    margin-bottom: 40px;
}

a::before {
    content: "";
    background-image: url("./icon-pdf.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -15px;
    left: -75px;
    width: 65px;
    height: 65px;
}
